/*font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/
* {
	font-family: 'Playfair Display', serif;
}

/*header style*/
header{
	padding: 25px 0;
}
header .nav-link{
	color: #626262 !important;
	margin-left: 45px;
}

/*banner style*/
.banner{
	margin-top: 30px;
}
.banner-contain {
	background-image: url('images\minimo1.jpg');
	min-height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*photodiary style*/
.photodiary{
	padding: 80px 0;
}
.photodiary-content h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e !important;
}
.photodiary-content h1{
	font-size: 30pt;
	font-weight: strong;
	color: #626262 !important;
	margin: 15px 0;
}
.photodiary-content p{
	color: #626262 !important;
}
/*lifestyle style*/
.lifestyle{
	padding: 20px 0 60px;
}
.lifestyle-contain {
	padding: 40px 0;
}
.lifestyle-contain h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e !important;
	margin-top: 30px;
}
.lifestyle-contain h1{
	font-size: 30pt;
	font-weight: strong;
	color: #626262 !important;
	margin: 15px 0;
}
.lifestyle-contain p{
	color: #626262 !important;
	width: 100%;
}
/*signup section style*/
.signup{
	padding: 40px 0;
	background: #f0f0f0;
}
.sign{
	padding: 60px 0;
}
.sign h2{
	color: #333333;
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
}
.input-group{
	border-bottom: 2px solid;
}
.form-custom{
	background: transparent;
	border: 0;
}
.input-group-text{
	background: transparent;
	border: none;
}
.btn-custom{
	border: 1px solid;
	color: #626262;
	padding: 15px 25px;
	background: transparent;
	transition: .4s;
}
.btn-custom:hover{
	background: black;
	color: white;
}
footer{
	background: #f0f0f0;
	padding: 20px 0;
}
footer ul li a{
	text-decoration: none;
	color: #000000;
}
